@layer base {
  :root {
    font-size: 1.2em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.5rem;
    text-decoration: underline;
  }

  .title {
    font-size: 2.5rem;
  }

  .heading {
    font-size: 2rem;
  }

  p {
    margin-block: 0.5rem;
  }
}
