@layer design {
  main,
  aside {
    max-width: 1200px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
  }

  .heading {
    font-weight: bolder;
  }

  p {
    text-align: left;
  }

  aside {
    border-top: solid 1px black;
    color: #413b3bea;
  }
}
